
# Normalize line endings to LF.
*             text eol=lf

*.css         text
*.gradle      text
*.html        text
*.kt          text
*.scala       text
*.java        text
*.js          text
*.jsh         text
*.json        text
*.md          text
*.properties  text
*.sh          text
*.txt         text
*.text        text
*.xml         text
*.yml         text
*.keep        text

# Ensure that line endings for files are not modified.
*.bat        -text
*.bin        -text
*.dat        -text
*.exec       -text
*.idx        -text
*.lock       -text
*.MF         -text
*.options    -text
*.svg        -text

# Ensure the following are treated as binary.
*.class       binary
*.jar         binary
*.war         binary
*.ear         binary
*.tar         binary
*.gz          binary
*.pdf         binary
*.pdx         binary
*.xls         binary
*.xlsx        binary
*.xlsm        binary
*.xlsb        binary
*.zip         binary
*.gif         binary
*.jpeg        binary
*.jpg         binary
*.png         binary
*.vsd         binary
